body.home {

  color: white;
  background: url(../images/WANTED.png);
  background-repeat: no-repeat;
  background-position: center;
  font-family: Western;
}
.typed-cursor{
  visibility: hidden;
}
.arrow__help--left {
  opacity: .6;
  display: flex;
  align-items: center;
  justify-content: space-around;
  p{
    margin-bottom: 5px;
    font-size: 30px;
    color: white;

  }
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 20%;
}

.arrow__help--right {
  opacity: .6;
  display: flex;
  align-items: center;
  justify-content: space-around;
  p{
    margin-bottom: 5px;
    font-size: 30px;
    color: white;
  }
  flex-direction: column;
  position: absolute;
  top: 50%;
  right: 20%;
}

.homePage{
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}

.title{
  letter-spacing: 25px;
  font-size: 80px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 5%;
  z-index: 1;
}

.cloud1{
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  animation: cloud1 40s linear infinite;
} 

.cloud2{
  position: absolute;
  top: 0;
  left: 0;
  animation: cloud2 40s linear infinite;
}

.cloud3{
  position: absolute;
  top: 0;
  left: 0;
  animation: cloud3 40s linear infinite;
}

@keyframes cloud1 {
  0%{transform: translate(-1050px, 20px);}
  100%{transform: translate(1400px, 20px);}
}

@keyframes cloud2 {
  0%{transform: translate(-500px, 200px) scale(0.6);}
  100%{transform: translate(1400px, 200px) scale(0.6);}
}

@keyframes cloud3 {
  0%{transform: translate(-280px, 50px) scale(0.8);}
  100%{transform: translate(2000px, 50px) scale(0.8);}
}

