.rules{
  width: 100%;
  height: 100%;
  padding: 50px;
  background-color: rgb(78, 57, 37);
  border: 20px solid rgba(0,0,0,0.95);
  z-index: 10;
  display: flex;
  position: absolute;
  top: 0;

  flex-direction: column;
  transform: translateX(-100%);
  transition: transform 1s;
  color: white;
}

.rules--reset{
  transform: none;
}

.rules__title{
  font-size: 60px;
  margin-bottom: 100px;
}

.rules__text{
  font-size: 20px;
  width: 800px;
  line-height: 30px;
  margin-bottom: 100px;

}

.rules__start{
  width: 200px;
  height: 80px;
  background-color: rgb(78, 57, 37); 
  border: 2px solid #A67B53;
  font-size: 30px;
  font-family: Western;
  color: white;
  cursor: pointer;
}